.ComprarPartyButton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
    
}
.botonComprar {
    color: white;
    padding: 12px 24px; /* Espacio interno */
    font-size: 25px;
    border: none;
    border-radius: 20px; /* Bordes redondeados */
    cursor: pointer;
    display: block;
    width: 400px; /* Ancho del botón */
    text-align: center;
}
.aviable{
    background-color: orangered;

}
.disable{
    background-color: grey;
}


@media (max-width: 768px) {
    .botonComprar{
        width: 310px;
        
    }
    .ComprarPartyButton{
        justify-content: left;
        align-items: left;
        margin-left: 24px;
    }
    
}